// // 选中单元格边框颜色
// .border-green {
//     border-width: 0px;
//     box-shadow: rgb(255 255 255) 0px 0px 0px 0.806723px, rgb(31 187 125) 0px 0px 0px 2.42017px;
// }

// 今日表头高亮颜色
.now-day-header {
  background: #3373e2;
  color: #fff;
  border-color: #3373e2;
}

// // 拖动时选中颜色
// .sortable-chosen,
// .sortable-ghost {
//     background-color: #dfecfb;
// }

// .col--fixed {
//     cursor: no-drop;
// }

// .header-stage {
//     cursor: no-drop;
// }

// // 移动表头高亮颜色
// .select-date {
//     background-color: #448c80;
//     color: #fff;
//     transition: all .5s ease-in;
// }

// .header-column {
//     transition: all .5s ease-in;
// }
